<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Генератор облака слов</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="container">
        <h1>Генератор облака слов</h1>

        <div class="main-content">
            <div class="button-container">
                <button id="uploadBtn" class="show">Загрузить файл</button>
                <input type="file" id="fileInput" style="display:none;" />

                <button id="previewBtn">Предпросмотр файла</button>
                <div id="previewAlert" class="alert-box">Сначала загрузите файл для предпросмотра!</div>

                <button id="changesBtn">Создать облако слов</button>
                <div id="changesAlert" class="alert-box">Сначала загрузите файл для анализа!</div>

                <button id="saveLocalBtn">Скачать JSON на компьютер</button> <!-- Новая кнопка для локального скачивания -->
            </div>

            <div id="changesContainer" class="changes-container">
                <h2>Анализ:</h2>
                <div id="changesOutput">Здесь будет анализ текста...</div>
            </div>
        </div>

        <div id="previewContainer" class="preview-container">
            <h2>Предпросмотр содержимого файла:</h2>
            <div id="previewOutput"></div>
        </div>
    </div>

    <footer>
        Сделано командой "русские слоны"
    </footer>

    <script>
        history.pushState(null, 'Русские слоны', '');

        const fileInput = document.getElementById('fileInput');
        const previewContainer = document.getElementById('previewContainer');
        const previewOutput = document.getElementById('previewOutput');
        const changesContainer = document.getElementById('changesContainer');
        const changesOutput = document.getElementById('changesOutput');
        const previewAlert = document.getElementById('previewAlert');
        const changesAlert = document.getElementById('changesAlert');

        const previewBtn = document.getElementById('previewBtn');
        const changesBtn = document.getElementById('changesBtn');
        const saveLocalBtn = document.getElementById('saveLocalBtn');

        let fileUploaded = false; // Флаг, который указывает, что файл был загружен

        // Нажатие на кнопку "Загрузить файл"
        document.getElementById('uploadBtn').addEventListener('click', function() {
            previewContainer.style.display = 'none';
            changesContainer.style.display = 'none';
            previewAlert.style.display = 'none';
            changesAlert.style.display = 'none';
            fileInput.click();
            
            // Показываем кнопки после загрузки
            setTimeout(() => previewBtn.classList.add('show'), 500);
            setTimeout(() => changesBtn.classList.add('show'), 1000);
            setTimeout(() => saveLocalBtn.classList.add('show'), 1500);
        });

        // Проверяем, был ли выбран файл
        fileInput.addEventListener('change', function() {
            const file = fileInput.files[0];
            if (file) {
                fileUploaded = true; // Файл загружен
                previewAlert.style.display = 'none'; // Скрываем предупреждение
                changesAlert.style.display = 'none'; // Скрываем предупреждение
            }
        });

        // Предпросмотр загруженного файла
        previewBtn.addEventListener('click', function() {
            const file = fileInput.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    previewOutput.textContent = e.target.result;
                    previewContainer.style.display = 'block';
                    previewContainer.scrollTop = 0;
                };
                reader.readAsText(file);
                previewAlert.style.display = 'none';
            } else {
                previewAlert.style.display = 'block';
            }
        });

        // Создание облака слов (анализ файла)
        changesBtn.addEventListener('click', function() {
            if (fileUploaded) { // Проверяем флаг, который указывает, что файл был загружен
                const file = fileInput.files[0];
                if (file) {
                    const formData = new FormData();
                    formData.append('file', file);

                    fetch('/analyze', {
                        method: 'POST',
                        body: formData
                    })
                    .then(response => response.json())
                    .then(merged_words => {
                        changesContainer.style.display = 'block';
                        changesOutput.innerHTML = '';  // Очищаем блок перед вставкой данных

                        // Выводим данные из переменной merged_words
                        for (const [word, count] of Object.entries(merged_words)) {
                            changesOutput.innerHTML += `<p>${word}: ${count}</p>`;
                        }

                        changesContainer.scrollTop = 0;
                        changesAlert.style.display = 'none';
                    })
                    .catch(error => {
                        console.error('Ошибка при анализе:', error);
                        changesAlert.style.display = 'block';
                    });
                }
            } else {
                changesAlert.style.display = 'block'; // Показываем предупреждение, если файл не был загружен
            }
        });

        // Скачивание JSON файла с анализом
        saveLocalBtn.addEventListener('click', function() {
            if (fileUploaded) { // Проверяем, был ли загружен файл
                const file = fileInput.files[0];
                if (file) {
                    const formData = new FormData();
                    formData.append('file', file);

                    fetch('/analyze', {
                        method: 'POST',
                        body: formData
                    })
                    .then(response => response.json())
                    .then(merged_words => {
                        // Создаем JSON строку
                        const jsonStr = JSON.stringify(merged_words, null, 4);
                        
                        // Создаем элемент <a> для скачивания файла
                        const a = document.createElement('a');
                        const blob = new Blob([jsonStr], { type: 'application/json' });
                        a.href = URL.createObjectURL(blob);
                        a.download = 'synonyms.json';
                        document.body.appendChild(a);
                        a.click();
                        document.body.removeChild(a);
                    })
                    .catch(error => {
                        console.error('Ошибка при анализе:', error);
                    });
                }
            } else {
                alert('Пожалуйста, загрузите файл для анализа.');
            }
        });

    </script>

</body>
</html>
